.calculator {
    display: flex;
    flex-direction: column;

    margin: auto;

    width: 460px;
}
.display {
    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;

    margin: auto;
}
.display *::after {
    content: "\00a0";
    flex: 1 0 0;
    text-align: center;
}
.buttons {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, min-content);
    gap: 10px;
}
